.details {
    width: 50%;
    margin-left: 25%;
}
h4 {
    color: white;
}
.inputfields {
    border: 0;
    margin-bottom: 10px;
}
.inputfields:hover {
    box-shadow: 1px 2px 3px;
}
button {
    background-color: #FBA834;
    padding: 10px;
    border-radius: 10px;
    color: black;
    border: 0;
}
button:hover {
    background-color: #ff9500;
}